<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="cube-outline" slot="start"></ion-icon>
        <ion-button [routerLink]="['/dhome']" fill="clear" color="dark" size="large" expand="full">택배기사</ion-button>
      </ion-item>
      <!--
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Archived</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Trash</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Spam</ion-label>
      </ion-item>
      -->
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Delivery App</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-content [fullscreen]="true">
      <img src="../../assets/delivery.png" alt="" />
      <h3><b>Welcome to delivery app!</b></h3>
      <ion-card>
        <ion-card-content>

          <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input formControlName="password" type="password" placehoder="Enter Password"></ion-input>
              </ion-item>
            </ion-list>
            <br />
            <ion-button class="submit-btn" type="submit" color="warning" expand="full" shape="round"
              [disabled]="!validations_form.value">Login</ion-button>

            <label class="erro-message">{{errorMessage}}</label>
          </form>
          <br />
          처음 방문하셨나요?
          <p class="go-to-register">
            <a (click)="goToRegisterPage()">회원가입</a>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-content>

    <!--
      <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
    -->
  </ion-content>
</div>