ion-card {
  position: relative;
  text-align: center;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.box1 {
  opacity: 0.6;
}
.card-subtitle {
  font-size: 1.5em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: rgb(186, 251, 253);
  text-shadow: 1px 1px 5px #000;
}
