body {
  background-color: #d0d0ce;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
}
.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.login-card .card-body {
  padding: 85px 60px 60px;
}

.login-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px;
}
.login-card form {
  max-width: 400px;
}

.login-card .login-btn {
  padding: 12px 20px 12px;
  background-color: #000;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 25px;
}
