<!-- <ion-header>
  <ion-toolbar>
    <ion-title>택배기사</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="light">
  <!-- <div class="image">
    <img src="../../assets/택배기사.PNG">
  </div> -->

  <div class="first-message">
    Welcome to delivery worker.
  </div>

  <form
    class="form"
    [formGroup]="validations_form"
    (ngSubmit)="loginUser(validations_form.value)"
  >
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>

        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placehoder="Enter Password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <br />

    <ion-button
      class="submit-btn"
      type="submit"
      color="warning"
      expand="full"
      shape="round"
      [routerLink]="['/courier/tab1']"
    >
      Login</ion-button
    >
    <label class="erro-message">{{ errorMessage }}</label>
  </form>
  <br />
</ion-content>
