<ion-header>
  <ion-toolbar>
    <ion-title>QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>

    <ion-button (click)="scanCode()">
      <ion-icon name="qr-code-outline"></ion-icon>
      SCAN
    </ion-button>

    <ion-card *ngIf="qrData">
      <ngx-qrcode [value]="qrData">
      </ngx-qrcode>
    </ion-card>

    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        Result of Scan : {{ scannedCode }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!--
      <ngx-qrcode [elmentType]="elmentType" [value]="qrData" qrc-class="my-code">
      </ngx-qrcode>
    -->