<ion-header>
  <ion-toolbar color="primary">
    <ion-title>회원가입</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="registerUser(validations_form.value)">

    <ion-item>
      <ion-input type="text" formControlName="name" placeholder="이름">
      </ion-input>
    </ion-item>
    <!-- <div>
      <ng-container *ngFor="let validation of validationMessages.name"></ng-container>
    </div> -->
    <ion-item>
      <ion-input type="number" formControlName="phone" placeholder="전화번호">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="email" placeholder="이메일">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="비밀번호">
      </ion-input>
    </ion-item>

    <ion-button class="submit-btn" class="btn-primary" [disabled]="!validations_form.valid" type="submit">회원가입
    </ion-button>

  </form>
</ion-content>