#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#ion-content {
  background-color: aquamarine;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-card {
  position: relative;
  text-align: center;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.box1 {
  opacity: 0.6;
}
.card-subtitle {
  font-size: 1.5em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: rgb(186, 251, 253);
  text-shadow: 1px 1px 5px #000;
}

ion-list.card-background {
  position: absolute;
  left: 40%;
  top: 80%;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
